.clear {
    clear: both;
}

.site-header {
    background: $background-header;
    height: $header-height;

    a {
        color: white;
        float:left;
        padding: 5px;
    }
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 20px;

    .content-wrapper-background {
        background: $background-content;

        .content-wrapper-offset {
            min-height: calc(100vh - #{$header-height});
            position: relative;
            top: $vertical-content-offset;
            width: 100%;
        }
    }
}

.content {
    float: left;
    margin-bottom: $vertical-content-offset;
    padding: 0 20px;
    width: calc(100% - #{$about-width-wide});
}

.about {
    float: right;
    font-size: $small-font-size;
    margin-bottom: $vertical-content-offset;
    padding: 0 20px;
    width: $about-width-wide;

    figure {
        margin: auto;
        text-align: center;

        img {
            border: 10px solid white;
            max-width: 100%;
        }
    }

    ul {
        list-style: none;
        padding: 0 60px;

        li {
            white-space: nowrap;

            a span {
                display: inline-block;
                margin-right: 5px;

                &:before {
                    display: inline-block;
                    font-family: FontAwesome;
                }
                &.github:before {
                    content: "\f09b";
                }
                &.twitter:before {
                    content: "\f099";
                }
                &.linkedin:before {
                    content: "\f0e1";
                }
                &.firefox:before {
                    content: "\f269";
                }
                &.rss:before {
                    content: "\f09e";
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .content p, .content ul {
        text-align: justify;
    }
}
@media (max-width: 800px) {
    .content {
        width: calc(100% - #{$about-width-narrow});
    }
    .about {
        width: $about-width-narrow;

        figure {
            img {
                border-width: 5px;
            }
        }
        ul {
            padding: 0 20px;
        }
    }
}
@media (max-width: 500px) {
    h1 {
        margin-right: -40px;
    }
    h2 {
        margin-right: -30px;
    }
    .content {
        float: none;
        width: 100%;
    }
    .about {
        float: none;
        margin-top: 50px;
        width: 100%;

        ul {
            padding: 0;
        }
    }
}
