$base-font-size:          16px;
$small-font-size:         14px;

$text-color:              #333333;
$link-color:              #CC2100;
$link-color-current:      #FF8F00;

$background-header:       #2D2D2D;
$background-page:         #F1F1F1;
$background-content:      #FFFFFF;

$header-1-color:          #FF8400;
$header-2-color:          #009D81;

$header-height:           58px;

$vertical-content-offset: -29px;

$about-width-narrow:      165px;
$about-width-wide:        250px;
